<div class='block-01'>
    {%if(title)%}
        <h2>{{title}}</h2>
    {%endif%}  
    {%if(data)%}
        <div class="block-01">
            <ul class="sidenews">
            {%for key,item in data%}
                {%if(item.value)%}
                    {%if(item.images_id)%}
                        {#<img class='xs' src="/Images_module/getImages/{{item.images_id}}/215/150/1" alt=""/>#}
                    {%endif%}
                    <li class="bottom-margin-no "><a id='detail-news-{{item.value}}' href="/news/detail/{{item.value}}">{{item.title}}</a></li>
                    {#<span class="about">{{writeCuttingText(item.note,100)|raw}}</span>
                    <span class="sub-title">{{getDecodeDate(item.date)|raw}}</span>#}
                {%else%}    
                    <h2>{{item.title}}</h2>
                {%endif%}
                
            {%endfor%}
            </ul>
        </div>
    {%endif%}
    <hr/>
    <a class="link-01 bottom-margin-1 top-margin-1" id='news-start-up-all' href="/news/">{{getVariable('caption_all_news')}}</a>
</div>
