.selected img {
    opacity:0.5;
}

.carousel-control.left {
	background-image: none;    
}
    
.carousel-control.right {
	background-image: none;    
}

.carousel-control {
	padding-top: 9%;  
  	font-size: 10em;
}

.carousel-control:hover, .carousel-control:focus {
  color: #fff;
  text-decoration: none;
  opacity: 1;
}

.list-inline {
	margin-top: 1em;
 	margin-bottom: 1em;  
}

.list-inline>li {
  	padding-right: .8783%;
	padding-left: 0px;  
  	cursor: pointer;
}

.list-inline>li:hover {
  opacity: .5;
}
  
.list-inline li:nth-child(13){
	padding-right: 0px;	    
}
.img-responsive {
    border: 2px solid #C9A872;
    border-radius: 6px;
}