.bg-all-page {
    background-image: url(/images/bg-all-page.jpg);
    height: 1000px;
}
.bg-all-page-admin {
    height: 1000px;
}
.bg-black {
    background-color:  #000;
}
.bg-white {
    background-color:  #fff;
}
.bg-logo {
	display: block;
	float: right;
	width: 256px;
	height: 80px;
	margin-top: 10px;
	margin-right: 110px;
}
.bg-logo a.logo {
    display: block;
    width: 256px;
    height: 80px;
    background-image: url(/images/logo_site.png);
}
.bg-main {
    background-color: #FFE7B5;
}
/**/
textarea.no-resize-control {
    resize: none;
}
/**/
table.key-specification {
    color: #000;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: solid;
    border-top-color: #e2d5a6;
    border-right-color: #e2d5a6;
    border-bottom-color: #e2d5a6;
    border-left-color: #e2d5a6;
    width: 100%;
}
table.key-specification td{
    padding: 10px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
    border-top-color: #e2d5a6;
    border-right-color: #e2d5a6;
    border-bottom-color: #e2d5a6;
    border-left-color: #e2d5a6;
}
table.key-specification td.centers {
    text-align: center;
}
table.key-specification td.right {
    text-align: right;
}
table.key-specification th{
        text-align: center;
	padding: 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #e2d5a6;
	border-right-color: #e2d5a6;
	border-bottom-color: #e2d5a6;
	border-left-color: #e2d5a6;
}
/**/
.topmenu ul{
    list-style-type: none;
    margin: 0px;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
}
.topmenu li{
    margin: 0px;
    float: left;
    padding-top: 0px;
    padding-right: 12px;
    padding-bottom: 0px;
    padding-left: 12px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: solid;
    border-top-color: #d3c9a3;
    border-right-color: #d3c9a3;
    border-bottom-color: #d3c9a3;
    border-left-color: #d3c9a3;
}
li.left-no {
    border-left-style: none;
}
/**/
.line-left-yes {
    border-left-style: solid;
    border-left-width: 1px;
}
/**/
.cl-left-content {
    display: block;
    background-color: #fff8dd;
}
.col-left-work {
    background-color: #f2eacd;
	
}
.cl-right-content {
    display: block;
    background-color: #f2eacd;
	
}
.cl-left-content-admin {
    margin-top: 105px;
    display: block;
}
hr.title-child {
	border: none;
	color: #B25400;
	background-color: #B25400;
	height: 2px;
}
.div-header {
    margin-top: 278px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    background-image: url(/images/bg-top-menu.png);
    background-repeat:repeat-x;
    -moz-border-radius:8px 8px 0 0px;
    -webkit-border-radius:8px 8px 0 0px;
    border-radius:8px 8px 0 0px;
    /*padding-top: 10px;*/
}
.div-header-admin {
    font-size: 11px;
    height: 50px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
}
.div-header a {
    color: #2A2217;
    line-height: 20px;
    display: block;
    float: left;
}
.div-header a:link, a:active {
    color: #2A2217;
    text-decoration: none;
}
.div-header a:active {
}
.div-header a:hover {
	color: #B25400;
	text-decoration: none !important;
}
.div-top-work {
    background-color: #FFE7B5;
    /*
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;*/
}
.div-top-work-admin {
    background-color: #fff;
}
.div-left {
    margin-left: 200px;
}
.div-center {
    margin: 0 auto;
}
.ctrl-center {
    margin: 0 auto;
}
.ctrl-dec-0 {
    margin-left: 0px
}
.ctrl-dec-1 {
    margin-left: -5px
}
.ctrl-dec-2 {
    margin-left: -10px
}
.ctrl-dec-3 {
    margin-left: -15px
}
.ctrl-dec-4 {
    margin-left: -20px
}
.ctrl-dec-5 {
    margin-left: -25px
}
/**/
.top-margin-12 {
  margin-top: 100%;
}
.top-margin-11 {
  margin-top: 91.66666667%;
}
.top-margin-10 {
  margin-top: 83.33333333%;
}
.top-margin-9 {
  margin-top: 75%;
}
.top-margin-8 {
  margin-top: 66.66666667%;
}
.top-margin-7 {
  margin-top: 58.33333333%;
}
.top-margin-6 {
  margin-top: 50%;
}
.top-margin-5 {
  margin-top: 41.66666667%;
}
.top-margin-4 {
  margin-top: 33.33333333%;
}
.top-margin-3 {
  margin-top: 25%;
}
.top-margin-2 {
  margin-top: 16.66666667%;
}
.top-margin-1 {
  margin-top: 8.33333333%;
}
.top-margin-0 {
    margin-top: 2%;
}
.top-margin-01{
    margin-top: 0px;
}
.top-margin-px-0{
    margin-top: 0px;
}
.top-margin-px-1{
    margin-top: 10px;
}
.top-margin-px-2{
    margin-top: 20px;
}
.top-margin-px-3{
    margin-top: 30px;
}
.top-margin-px-4{
    margin-top: 40px;
}
.top-margin-px-5{
    margin-top: 50px;
}
.top-margin-px-6{
    margin-top: 60px;
}
.top-margin-px-7{
    margin-top: 70px;
}
.top-margin-px-8{
    margin-top: 80px;
}
/**/
.left-padding-1 {
    padding-left: 2%;
}
.left-padding-2 {
    padding-left: 4%;
}
.left-padding-px-1 {
    padding-left: 10px !important;
}
.left-padding-px-2 {
    padding-left: 20px !important;
}
.left-padding-px-3 {
    padding-left: 30px !important;
}
.left-padding-px-4 {
    padding-left: 40px !important;
}
.left-padding-px-5 {
    padding-left: 50px !important;
}
.left-padding-px-6 {
    padding-left: 60px !important;
}
.left-padding-px-7 {
    padding-left: 70px !important;
}
.left-padding-px-8 {
    padding-left: 80px !important;
}
.left-padding-px-9 {
    padding-left: 90px !important;
}
.right-padding-1 {
    padding-right: 2%;
}
.right-padding-2 {
    padding-right: 4%;
}
.left-margin-1 {
    margin-left: 2%;
}
.left-margin-2 {
    margin-left: 4%;
}
.right-margin-1 {
    margin-right: 10px !important;
}
.right-margin-2 {
    margin-right: 4%;
}
.right-margin-3 {
    margin-right: 4%;
}
.margin-left-6 {
    margin-left: 50%;
    display: inline-block;
}
.width-size-12 {
  width: 100% !important;
}
.width-size-11 {
  width: 91.66666667% !important;
}
.width-size-10 {
  width: 83.33333333% !important;
}
.width-size-9 {
  width: 75% !important;
}
.width-size-8 {
  width: 66.66666667% !important;
}
.width-size-7 {
  width: 58.33333333% !important;
}
.width-size-6 {
  width: 50% !important;
}
.width-size-5 {
  width: 41.66666667% !important;
}
.width-size-4 {
  width: 33.33333333% !important;
}
.width-size-3 {
  width: 25% !important;
}
.width-size-2 {
  width: 16.66666667% !important;
}
.width-size-1 {
  width: 8.33333333% !important;
}
/**/
.bottom-margin-0 {
    margin-bottom: 2%;
}
.bottom-margin-1 {
    margin-bottom: 8.33333333%;
}
.bottom-margin-no {
    margin-bottom:0px;
    padding-bottom: 0px;
}
/**/
.div-footer-bottom {
	text-align: center;
	color: #6F6F6F;
	padding-top: 20px;
	font-size: 12px;
	padding-bottom: 20px;
	padding-left: 50px;
}
.div-footer-bottom a{
	color: #999999;
}
a {
    /*color: #2A2217;*/
    color: #6C320E;
}

a:link, a:active {
    /*color: #2A2217;*/
    color: #6C320E;
}
a:hover {
    /*color: #2A2217;*/
    color: #6C320E;
    text-decoration: none;
}
a.link-01 {
    display: block;
    /*background-color: red;*/
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: #145DA7;
}
a.link-02 {
    display: block;
    /*background-color: red;*/
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: #145DA7;
}
a.link-03 {
    display: block;
    /*background-color: red;*/
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: #000000;
    margin-top: -10px;
    min-height: 30px;
}
a.link-04 {
    display: block;
    /*background-color: red;*/
    font-size: 15px;
    text-align: center;
    /*font-weight: bold;*/
    color: #145DA7;
}
.work-size {
    width: 1280px;
}
/**/
.mi-left {
    
}
.mi-right {
    float: right !important;
    display: block;
}
.sub-menu {
    color: #6C320E;
    margin-left: 0; 
    padding-left: 0;
}
.sub-menu a{
    color: #6C320E;
}
.sub-menu ul {
}
.sub-menu li {
    list-style-type: none;
    line-height: 25px;
}
.sub-menu li.active {
    text-align: right;
}
/**/
.tree-out {
    font-size: 14px !important;
    height: 1%;
    display: block;
    background-color: #EABA80;
}
.tree-out ul {
    padding: 0px;
    margin-left: 0px;
}
.tree-out li {
    float: left;
    width: 100%;
    list-style: none; /* Убираем исходные маркеры */
    font-size: 15px !important;
    opacity: 1 !important;
    color: #005cb7 !important;
    display: inline-block;
    font-weight: normal !important;
}
.tree-out li > div {
    display: inline-block;
    float: left;
}
.tree-out div.action {
    float: right;
}
.tree-out div.title {
    padding-top: 2px;
    padding-left: 34px;
}
.tree-out li.root {
	background-color: #eeeeee;
	color: #000 !important;
	margin-bottom: 5px;
	line-height: 1.8em;
}
.tree-out li.level-01 {
    background: url(/images/buttons/btn-blogs.png) no-repeat 30px 0; /* Параметры фона */
}
.tree-out li.level-02 {
    background: url(/images/buttons/btn-blogs.png) no-repeat 60px 0; /* Параметры фона */
}
.tree-out li.open {
    background: url(/images/buttons/btn-open-folder.png) no-repeat 5px 0; /* Параметры фона */
    background-color: #eeeeee;
}
.tree-out li.close {
    background: url(/images/buttons/btn-close-folder.png) no-repeat 5px 5px; /* Параметры фона */
    background-color: #eeeeee;
}
.tree-out li.text-cl-odd {
    background-color: #fff;
}
.tree-out li.text-cl-even {
    background-color: #f0f7ff;
}
.tree-out li.level-img-01 {
    line-height: 70px;
    display: inline-block;
}
.tree-out li.level-img-01 > img {
    float:left;
}
/**/
.tree {
    font-size: 14px !important;
}

.tree ul {
    margin-left: -40px;
}

.tree li {
    float: left;
    width: 100%;
    list-style: none; /* Убираем исходные маркеры */
    padding-left: 40px;
    font-size: 15px !important;
    opacity: 1 !important;
    color: #005cb7 !important;
    text-shadow: 0px 1px 0px #FFF;
    display: block;
    clear: both;
    font-weight: normal !important;
}
.tree li > div {
    display: block;
    float: left;
    height: 26px;
    
}
.tree li div.container {
    height: 1%;
}

.tree li div.container > img {
    border-radius: 3px;
    float: left;
    border: 1px solid #C9A872;
}

.tree li div.title {
    width: 80%;
    display: inline-block;
    float: left;
    padding-top: 5px;
}
.tree li div.action {
    width: 20%;
    float: left;
}

.tree li.tree {
    
}


.tree li.root {
    background-color: #eeeeee;
    border: 1px #ececec outset;
    color: #000 !important;
    margin-bottom: 5px;
    
}
/* кнопки мини для возможного выбора действий */
.action-base {
    display: inline-block;
    position: relative;
    height: 24px;
    width: 24px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none !important;
    text-shadow: 0 1px rgba(255,255,255,0.1);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    background-attachment: scroll;
}
.action-edit {
    background-image: url(/images/buttons/btn-action-base.png);
    background-position: -96px 0px;
}
.action-add {
    background-image: url(/images/buttons/btn-action-base.png);
    background-position: -24px 0px;
}
.action-delete {
    background-image: url(/images/buttons/btn-action-base.png);
    background-position: -48px 0px;
}
.action-checked {
    background-image: url(/images/buttons/btn-check-uncheck.png);
    background-position: -24px 0px;
}
.action-un-checked {
    background-image: url(/images/buttons/btn-check-uncheck.png);
    background-position: 0px 0px;
}
.action-main-checked {
    background-image: url(/images/buttons/btn-main-check.png);
    background-position: 0px 0px;
}
.action-main-un-checked {
    background-image: url(/images/buttons/btn-main-check.png);
    background-position: -24px 0px;
}
.action-video  {
    background-image: url(/images/buttons/btn-include-video.png);
}
.action-child  {
    background-image: url(/images/buttons/btn-view-child.png);
}
.action-to-top {
    background-image: url(/images/buttons/btn-nav-top.png);
    background-position: 0px 0px;
}
.action-to-top-disable {
    background-image: url(/images/buttons/btn-nav-top.png);
    background-position: -24px 0px;
}
.action-to-dec {
    background-image: url(/images/buttons/btn-nav-dec.png);
    background-position: 0px 0px;
}
.action-to-dec-disable {
    background-image: url(/images/buttons/btn-nav-dec.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
/**/
.block-01 {
    display: block;
    width: 100%;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 14px !important;
    color: #6C320F !important;
    text-shadow: 0px 1px 0px #FFF;
}
.block-01 li {
    list-style: none; /* Убираем исходные маркеры */
    line-height: 27px;
    font-size: 15px !important;
    opacity: 1 !important;
    color: #6C320F !important;
    text-shadow: 0px 1px 0px #FFF;
    margin-left: -25px;
}
.block-01 li > img {
    margin-left: -15px;
    padding-right: 20px;
}
.block-01 img.xs {
    margin-left: -5px !important;
    padding-right: 0px !important;
    border-radius: 8px;
    float: left;
    margin-top: 20px;
}
.block-01 h2 {
    font-size: 16px !important;
    font-weight: bold;
}
/**/
.image-upload {
    overflow: hidden;
    height: 260px;
    width: 100%;
}
.image-upload div.preview {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    padding: 0px;
    display: inline-block;
}
.image-upload div.preview > div {
    margin-top: 5px;
    margin-left: 10px;
    display: block;
    width: 190px;
    height: 190px;
}

.image-upload div.preview > img {
    margin-top: 5px;
}

.btn-text-color-01 {
    color: #005cb7 !important;
}
.btn-noborder {
    border: none !important;
    outline: none !important;
    outline-offset: 0px;
}
.border-top {
    border-top: 2px red solid !important;
}
/**/
.button-base-img{
    display: inline-block;
    position: relative;
    height: 36px;
    width: 127px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none !important;
    text-shadow: 0 1px rgba(255,255,255,0.1);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    float: left;
}
.btn-color-01 {
    background-image: url(/images/buttons/btn-del-image.jpg);
}
.btn-color-02 {
    background-image: url(/images/buttons/btn-load-image.jpg);
}
.btn-detail {
    display: block;
    position: relative;
    height: 28px;
    width: 103px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none !important;
    text-shadow: 0 1px rgba(255,255,255,0.1);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    background-image: url(/images/buttons/btn-more.jpg);
    margin: 0 auto;
    margin-bottom: 10px;
}
.text-lg {
    text-transform: uppercase;
}
.text-height-01 {
    line-height: 45px !important;
}
.height-01 {
    min-height: 50px;
    height: 50px;
}
.height-02 {
    min-height: 100px;
    height: 100px;
}
.height-03 {
    min-height: 150px;
    height: 150px;
}
.height-04 {
    min-height: 200px;
    height: 200px;
}
.height-05 {
    min-height: 250px;
    height: 250px;
}
.text-pos-left {
    text-align: left !important;
}
.text-pos-right {
    text-align: right !important;
}
.text-cl-black {
    color: #000;
    font-weight: bold;
}
.text-cl-01 {
    color: #FF0000;
}
.text-cl-02 {
    color: #FF0000;
}
.text-cl-03 {
    color: #FF0000;
}
.text-cl-04 {
    color: #FF0000;
}
.text-cl-05 {
    color: #FF0000;
}
/* в наличии */
.text-cl-06 {
    color: #009607;
}
/* нет в наличии */
.text-cl-07 {
    color: #8a8a8a;
}
.text-cl-08 {
    color: #00FF00;
}
.text-cl-09 {
    color: #00FF00;
}
.text-cl-10 {
    color: #00FF00;
}
.text-bold {
    font-weight: bold;
}
/**/
.para-center {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
/**/
img.position-right {
float: right !important;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
border:1px #E2D5A6 solid;
position: relative;
}
button.position-right {
    float: right !important;
    position: relative;
}
/**/
.pad-position-01 {
    
}
/* Вывод в где маленькие машинки*/
div.padding-position-01 {
    padding-left: 2%;
    padding-right: 2%;
    font-size: 16px;
    text-align: center;
}
div.padding-position-01 > div {
    float: left; 
    display: block;
}
/**/
.input-skin-01 {
    border-color: #D8D8D8;
    background-color:#fff;
}
.input-skin-02 {
    border-color: #ccdbf2;
    background-color:#f0f7ff;
    width: 250px;
    float: right !important;
    margin-right: 15px;
}
.input-skin-03 {
    border-color: #ccdbf2;
    background-color: none !important;
    width: 250px;
    float: right !important;
    margin-right: 15px;
}
.input-skin-03 > img {
    border-radius: 3px;
}
.input-skin-04 {
    float:right;
}
/**/
h1, h2, h3, h4 {
	font-size: 26px;
	color: #b25400;
	padding-bottom: 0px;
	text-align: left;
	font-weight: normal;
	
}

h3, h4 {
	font-size: 18px;
	color: #b25400;
	padding-bottom: 0px;
	text-align: left;
	font-weight: normal;
	
}
/*avto block*/
.avto {
    font-size: 14px;
    color: #6C320F;
}
.avto > h1 {
}
.avto > h2 {
    font-weight: bold;
    color: #145DA7;
    padding-top: 0px;
    padding-bottom: 0px;
}

.avto > hr.title {
	border: none;
	color: #B25400;
	background-color: #B25400;
	height: 2px;
}
.avto > img {
    padding: 0px;
    float: left;
    margin-right: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.avto img.xs {
	margin-left: 0px !important;
	padding-right: 0px !important;
	border-radius: 8px;
	float: left;
	border: 1px none #C9A872;
	margin-top: 0px;
}
/**/
.news-block {
    display: block;
    background-color: #f2eacd;
    width: 100%;
}
.news-block > div {
    margin-bottom: 5px !important;
    clear: both;
}
.news-block > h2 {
    text-align: center;
}
.news-block img.xs {
    padding: 0px;
    float: left;
    margin-right: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px #E2D5A6 solid;
}
.news-block span.title {
    display: block;
    padding: 5px 0px 18px;
}
.news-block span.title > a {
	display: block;
	color: #000000;
	font-weight: bold;
	font-size: 15px;
	text-shadow: 0px 1px 0px #FFF;
}
/**/
.block-search {
    display: block;
    float: left;
    background-color: #f2eacd;
    width: 100%;
    height: auto;
}

.block-search .ResultLeft {
    width:300px; 
    height:220px; 
    /*background:#669900; */
    float:left; 
    margin-left:10px; 
    margin-top:10px; 
    /*text-align:center;*/
}
.block-search .ResultLeft > h2 {
    text-align: center;
}
.block-search img.xs {
    padding: 0px;
    /*float: left;*/
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px #E2D5A6 solid;
}
.block-search .ResultLeft span.title {
    display: block;
    padding: 5px 0px 18px;
}
.block-search .ResultLeft span.title > a {
	display: block;
	color: #000000;
	font-weight: bold;
	font-size: 15px;
	text-shadow: 0px 1px 0px #FFF;
}

/**/
.avto-model {
    display: block;
    width: 100%;
}
.avto-model > h2 {
    font-weight: bold;
    color: #B25400 !important;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: left;
}
.avto-model hr.title {
    border: none;
    color: #B25400;
    background-color: #B25400;
    height: 2px;
    margin-top: -5px;
}
.avto-model > div {
    float: left;
}
.avto-model div.element-info {
    display: block;
    margin-left: 10px;
    border: 1px #E2D5A6 solid;
    border-radius: 8px;
    width: 30.333333%;
    height: 200px;
    margin-top: 10px;
}
.avto-model span.title {
    display: block;
    font-weight: bold;
}
/**/
.num-skin-01 {
    width: 35%;
    float: right;
    margin-right: 15px;
}
/* расширение bootstrap */
.panel-containter-content {
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
}
.panel-containter-content > h1 {
    font-size: 20px;
    color: #B25400;
    padding-bottom: 5px;
    font-weight: bold;
}
.panel-containter-content > h2 {
    font-size: 15px;
    color: #F00;
    text-align: justify;
}
.panel-containter-content > h3 {
    font-size: 14px;
    color: #000;
    text-align: justify;
    font-weight: normal;
    padding-bottom: 10px;
}
.panel-containter-content > hr {
	border: medium none;
	color: #666666;
	background-color: #B25400;
	height: 2px;
}

.panel-price {
  border-color: #EABA80;
  color: #000;
}
.panel-price > .panel-heading {
  background-color: #c6a874;
  font-weight: bold;
}
.panel-price > .panel-heading + .panel-collapse > .panel-body {
}
.panel-price > .panel-heading .badge {
  color: #f5f5f5;
}
.panel-price > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #EABA80;
}
.panel-price > .table {
    background-color: #FFDDA7;
}
.panel-price .table > tbody > tr > td {
    border-top: 1px #EABA80 dotted !important;
}

.img-div-center {
    display: block;
    margin: 0 auto;
    /*margin-left: auto;
    margin-right: auto;*/
}

/* Таблица с ценами */

.marka{
	width: 90%;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #EABA80;
	border-right-color: #EABA80;
	border-bottom-color: #EABA80;
	border-left-color: #EABA80;
}
/*.marka tr{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #FEDDA7;
	border-right-color: #FEDDA7;
	border-bottom-color: #FEDDA7;
	border-left-color: #FEDDA7;
} */
.marka a{
	color: #333333;
	font-weight: bold;
}
.marka a:hover{
	color: #B25400;
}
.marka td{
	padding: 5px;
	background-color: #FEDDA7;
	font-size: 14px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #EABA80;
	border-right-color: #EABA80;
	border-bottom-color: #EABA80;
	border-left-color: #EABA80;
}

.marka_active {
	background-color: #FEDDA7;
}
.div-prv-img {
    background-repeat: no-repeat;
}
.wm-dn {
display: block;
background: url(/images/auto_logo/alfa_romeo.gif) no-repeat,
                #000 url(/images/wm/watermark.png) no-repeat 100% 0;
				padding: 100px;
}
.wm-up {
display: block;
}
