div.divOutputBox {
    font-size: 16px;
    color: #cdebcd;
}
div.divOutputBox > table {
    width: 100%;
    border: 1px #cdebcd solid;
}
div.divOutputBox > table.td.centers {
    text-align: center;
}
div.divOutputSubMenuBox {
    
}
div.spec_people {
    padding-top: 5px;
    font-size: 12px;
}
div.spec_people img {
    border-radius: 10px;
    margin: 0px 10px 0px 0px;
    float: left;
}
div .description {
    display: block;
    width: 100%;
    font-weight: bold;
    padding-top: 10px;
    font-size: 14px;
}
div.messages, div.preview, div.help {
	background-color: #FFFFFF;
	background-position: 10px 50%;
	background-repeat: no-repeat;
	border: 1px solid #CCC;
	border-radius: 8px;
	font-weight: normal;
	margin: 10px 0;
	padding-left: 68px;
	padding-top: 15px;
	padding-bottom: 15px;    
}
div.messages.error {  
    background-image: url("/images/msg-stop.png") !important;
    clear: both;
}
div.error, tr.error {
    background-color: #F98181; color: #7E0000;
    font-size: 14px;
}
div.messages.status {
    background-image: url("/images/msg-info.png") !important;
    clear: both;
}
div.status, tr.status{
    background-color: #BDE5F8; color: #00529B;
    font-size: 14px;
}
div.messages ul {
    margin: 0; padding: 0;
}
div.messages ul li { 
    list-style-image: none; list-style-type: none;
}
.tittle {
    
}
.tittle > p {
    float: left;
}
