{# empty Twig template #}
{%if(data)%}
    <div class='panel-price-content'>
        {%for item in data%}
            <div class="panel panel-price">
                <div class="panel-heading">{{item.title}}</div>
                {%if(item.sub_tree)%}
                    <table class="table">
                        {%for subitem in item.sub_tree%}
                            <tr>
                                <td class='col-xs-10'>{{subitem.title}}</td>
                                <td class='col-xs-2 text-pos-right text-cl-06 text-bold'>{{subitem.invoice_price}}</td>
                            </tr>
                            <tr>
                                <td colspan="2"><center><strong>{{subitem.invoice_description}}</strong></center></td>
                            </tr>
                        {%endfor%}
                    </table>
                {%endif%}
            </div>
        {%endfor%}
    </div>
{%endif%}