{%if(page.tabs)%}
    <div class="" role="tabpanel" id="togglable-tabs" replace-id='div-ajax-field'>
        
        <ul class="nav nav-tabs tabs-up" id="friends">
        {%for item in page.tabs.data%}
            <li><a href="{{item.url}}" data-target="#{{item.terget}}" class="" id="contacts_tab" data-toggle="tabajax" rel="tooltip">{{item.title}}</a></li>
        {%endfor%}  
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="contacts"></div>
            <div class="tab-pane" id="friends_list"></div>
            <div class="tab-pane  urlbox span8" id="awaiting_request"></div>
        </div>
    </div>
{%endif%}