<div class='block-search'>
    {%if(title)%}
        <h2>{{title}}</h2>
    {%endif%}  
    {%if(data)%}
        {%for key,item in data%}
            <div class="ResultLeft">
            <center>    
            {%if(item.value)%}
                
                {#{{ loop.index }}#}
                <span class="title"><a id='detail-news-{{item.value}}' href="/page_keys/detail/{{item.value}}">{{item.title}}</a></span>
                <center>
                {%if(item.images_id)%}
                    <img class='xs' src="/Images_module/getImages/{{item.images_id}}/215/150/1" alt=""/>
                {%endif%}
                </center>
                {#<span class="about">{{writeCuttingText(item.note,400)|raw}}</span>#}
                {#<span class="sub-title">{{getDecodeDate(item.date)|raw}}</span>#}
            {%else%}    
                <h2>{{item.title}}</h2>
            {%endif%}
            </center>

            </div>
        {%endfor%}
    {%endif%}
</div>
