<div class='news-block'>
    {%if(title)%}
        <h2>{{title}}</h2>
    {%endif%}  
    {%if(data)%}
        {%for key,item in data%}
            <div>
            {%if(item.value)%}
                <span class="title"><a id='detail-news-{{item.value}}' href="/page_car/detail_avto/{{item.value}}">{{item.title}}</a></span>
                {%if(item.images_id)%}
                    <img class='xs' src="/Images_module/getImages/{{item.images_id}}/215/150/1" alt=""/>
                {%endif%}
                <span class="about">{{writeCuttingText(item.note,400)|raw}}</span>
                {#<span class="sub-title">{{getDecodeDate(item.date)|raw}}</span>#}
            {%else%}    
                <h2>{{item.title}}</h2>
            {%endif%}
            </div>
        {%endfor%}
    {%endif%}
</div>
