{# empty Twig template #}
{#<div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">…</div>
        <div class="item">…</div>
        <div class="item">…</div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>#}

<div class="avto">
    <h2>{{data.title}}</h2>
    {%if(data.property.keys_type)%}
        <hr class="title">
        <center>
            <div class="btn-group div-center" role="group" aria-label="...">
                <a class="btn btn-info {{(data.property.keys_type==1)?'active':''}}" href="/page_car/detail_top_keys/{{data.value}}/1" role="button">Ключи с кнопками</a>
                <a class="btn btn-info {{(data.property.keys_type==3)?'active':''}}" href="/page_car/detail_top_keys/{{data.value}}/3" role="button">Корпус</a>
                <a class="btn btn-info {{(data.property.keys_type==2)?'active':''}}" href="/page_car/detail_top_keys/{{data.value}}/2" role="button">Без кнопок</a>
            </div> 
        </center>
    {%endif%}
    
    {%if(data.collection)%}
        <hr class="title">
        {% include 'blocks/block-carusel.twig' with {'data': data.collection} %}
    {%endif%}
    <div class="row left-padding-1 right-padding-1">
    {%if(data.sub_tree)%}
        <hr class="title-child"/>
        {%for key,item in data.sub_tree%}
            <div class="col-lg-5 right-margin-3 left-margin-2 height-05">
                <h2><a class='link-03' href="{{item.keys_url}}detail/{{item.keys_id}}">{{item.keys_name}}</a></h2>
                {%if(item.images_id)%}
                <center>
                    <a href="{{item.keys_url}}detail/{{item.keys_id}}"><img class='img-thumbnail' id='block-image-{{item.images_id}}' src='/Images_module/getImages/{{item.images_id}}/100/100/0'/></a>
                </center>    
                {%endif%} 
                <p class="{{(item.keys_instock)?'text-cl-06':'text-cl-07'}} text-bold para-center">{{(item.keys_instock)?'В наличии':'Нет в наличии'}}</p>
                <a class='btn-detail' href="{{item.keys_url}}detail/{{item.keys_id}}"></a>
            </div>
            {#<div class="col-lg-5 right-margin-3 left-margin-2">
                <h2><a class='link-03' href="{{item.keys_url}}detail/{{item.keys_id}}">{{item.keys_name}}</a></h2>
                {%if(item.images_id)%}
                <center>
                    <a href="{{item.keys_url}}detail/{{item.keys_id}}"><img class='img-thumbnail' id='block-image-{{item.images_id}}' src='/Images_module/getImages/{{item.images_id}}/100/100/0'/></a>
                </center>    
                {%endif%}
                <p class="{{(item.keys_instock)?'text-cl-06':'text-cl-07'}} text-bold para-center">{{(item.keys_instock)?'В наличии':'Нет в наличии'}}</p>
                <a class='btn-detail' href="{{item.keys_url}}detail/{{item.keys_id}}"></a>
            </div>#}
        {%endfor%}
    {%endif%}    

    </div>
    <hr class="title"/>    
    {{data.text| raw}}
</div>
{#разбираемся с ключами если они есть#}
<div class="clearfix bottom-margin-0"></div>