{# empty Twig template #}
{#<div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">…</div>
        <div class="item">…</div>
        <div class="item">…</div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>#}
<div class="avto">
    <h2>{{data.keys_name}}</h2>
    <hr class="title">
    {%if(data.images_id)%}
        <img class='img-thumbnail' id='block-image-{{data.images_id}}' src='/Images_module/getImages/{{data.images_id}}/680/400/1'/>
    {%endif%}
    <div>
        <h3>Характеристики:</h3>
        <div>
            <table class="key-specification">
                <tr>
                    {%if(data.keys_mhz.title)%}
                        <th>Частота</th>
                    {%endif%}
                    {%if(data.keys_sting.title)%}
                        <th>Жало ключа</th>
                    {%endif%}
                    {%if(getVariable('keys_show_price'))%}
                        <th>Цена ключа</th>
                    {%endif%}    
                    <th>Наличие</th>
                </tr>
                <tr>
                    {%if(data.keys_mhz.title)%}
                        <td class="centers">{{data.keys_mhz.title | raw}}&nbsp;Mhz</td>
                    {%endif%}
                    {%if(data.keys_sting.title)%}
                        <td class="centers">{{data.keys_sting.title|raw}}</td>
                    {%endif%}    
                    {%if(getVariable('keys_show_price'))%}
                        <td class="centers">{{(data.keys_price>0)?data.keys_price:'Уточнять по телефону'}}</td>
                    {%endif%}
                    <td class="{{(data.keys_instock)?'text-cl-06':'text-cl-07'}} text-bold centers">{{(data.keys_instock)?'В наличии':'Нет в наличии'}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="clearfix"></div>
    <div>
        <h3>Описание:</h3>
        {{data.keys_description | raw}}
    </div>
</div>
{#разбираемся с ключами если они есть#}
<div class="clearfix"></div>
