{# empty Twig template #}
{%if(data)%}
    <center>
    <div class="media">
    {%for key,item in data%}
        <div class="media-left media-middle img-thumbnail">
            <a href="{{item.url}}load/{{item.value}}">
                <img class="media-object" src="/Images_module/getImages/{{item.images_id}}/64/64/1" alt="{{item.title}}" title="{{item.title}}">
            </a>
        </div>
        {%if(((key+1) % 8)==0)%}
            </div>
            <div class="media">
        {%endif%}    
        {#<div class="media-body">
          <h4 class="media-heading">Middle aligned media</h4>
          ...
        </div>#}
        
    {%endfor%}
    </div>
    </center>
{%endif%}
