<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{page.property.title}}</title>
        {%if(page.property.keywords)%}
            <meta name="keywords" content="{{page.property.keywords}}" />
        {%endif%}
        {%if(page.property.description)%}
            <meta name="description" content="{{page.property.description}}" />
        {%endif%}    
        
        
        <!-- Bootstrap -->
        <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/default.css">
        <link rel="stylesheet" href="/css/output-system.css">
        <link rel="stylesheet" href="/css/old-style.css">
        <link rel="stylesheet" href="/css/carusel.css">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link href="/css/default.css" rel="stylesheet">
        <script type="text/javascript" src="/js/jquery-2.1.3.js"></script>
        <script type="text/javascript" src="/js/ajax_upload/jquery.uploadfile.js"></script>
        <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="/js/info.common.js"></script>
        <script type="text/javascript" src="/js/info.carusel.js"></script>
    </head>
    {%autoescape false%}
    <body class="bg-black">
        <div class="container work-size"> <!-- container start -->
            <div class="row bg-all-page">
                {%if(sub_page_message)%}
                    {{sub_page_message}}
                {%endif%}    
                {%if (sub_page)%}
                    <div class="col-sm-3 col-sm-offset-5 top-margin-4">
                        {{sub_page}}
                    </div>
                {%else%}
                {%set miSubTree = ''%}    
                <div class="bg-logo"><a href='{{getBaseUrl()}}' class='logo'></a></div>
                <div class="col-sm-9 div-header div-left topmenu">
                <ul>
                    
                    {% if(page.menu)%}
                        {% for key,mi in page.menu %}
                            <li class="{{key==0?'left-no':''}}"><a class="{{(mi.mi_class)?mi.mi_class: 'button-base orange'}} {{(mi.active)?'active':''}}" href="{{mi.mi_url}}" url="{{mi.mi_url}}">{{mi.mi_title_ru}}</a></li>
                            {% if(mi.sub_tree)and(mi.active=='active')%}
                                {%set miSubTree = mi.sub_tree%}
                            {%endif%}
                            
                        {% endfor%}
                    {%endif%}
                    </ul>
                </div>
                <div class="col-sm-9 div-left div-top-work">
                    <div class='row col-left-work'>
                        <div class="col-xs-3 cl-left-content"> 
                            {%if (miSubTree)%}
                                <ul class='sub-menu'>
                                {%for submi in miSubTree%}
                                    <li class="{{submi.active}}"><a href="{{submi.mi_url}}" url="{{submi.mi_url}}" class="{{submi.active}}">{{submi.mi_title_ru}}</a></li>
                                {%endfor%}
                                </ul>
                            {%endif%}
                            {{page.content.left}}
                        </div>
                        <div class="col-xs-9 cl-right-content">
                            {{page.content.right}}
                        </div>
                    </div>    
                </div>
                {%endif%}
            </div>
            <div class="row"> <!-- row start -->
                <div class="col-sm-12 div-footer-bottom">
                    {{page.property.copyright}}
                </div> <!-- footer-bottom end -->
            </div> <!-- row end -->
        </div>
	{% include '/common/counters.twig' %}	
    </body>
    {%endautoescape%}
</html>