{% autoescape false %}
    <div class='tree-out'>
    {% if (page.data)%}
        <ul>
        {%for row in page.data%}
            <li class='root {{(row.sub_tree)?'open':'close'}}'>
                <div class='title'>{{row.title}}</div>
                <div class="action">{{row.action ? row.action | raw : ''}}</div>
            </li>
            {%if (row.sub_tree)%}
                <ul>
                    {%for key,sub_row in row.sub_tree%}
                        <li class='level-img-01 {{((key%2)==0)?'text-cl-odd':'text-cl-even'}} {{(sub_row.sub_tree)?'open':''}}'>
                                {%if(sub_row.picture_id)%}
                                    <img src="/Images_module/getPicture/{{sub_row.picture_id}}/{{getVariable('image_list_tree_width')}}/{{getVariable('image_list_tree_width')}}/1"/>
                                {%endif%}
                                <div class='title left-padding-px-1'>
                                    {{writeCuttingText(sub_row.title,60)}}
                                </div>
                                <div class="action">{{sub_row.action ? sub_row.action | raw : 'нет' | raw}}</div>
                        </li>
                        {%if (sub_row.sub_tree)%}
                            <ul>
                                {%for sub_row_key,sub_row_item in sub_row.sub_tree%}
                                    <li class='level-02 {{((sub_row_key%2)==0)?'text-cl-odd':'text-cl-even'}}'>
                                        {%if(sub_row_item.sub_tree.child)%}
                                            <div class='title left-padding-2'><a href='{{sub_row_item.sub_tree.child}}' title='{{sub_row_item.sub_tree.caption}}'>{{writeCuttingText(sub_row_item.title,60)}}</a></div>
                                        {%else%}
                                            <div class='title left-padding-2'>{{writeCuttingText(sub_row_item.title,60)}}</div>
                                        {%endif%}
                                        <div class="action">{{sub_row_item.action ? sub_row_item.action | raw : 'нет' | raw}}</div>
                                    </li>
                                {%endfor%}
                            </ul>
                        {%endif%}
                    {%endfor%}
                </ul>    
            {%endif%}
        {%endfor%}
        </ul>
    {%else%}    
        <ul>
            <li class='root'>Элементы отсутствуют. Необходимо провести добавление.<div class="action">{{row.action ? row.action | raw : ''}}</div></li>
            {#<a href="#" id='btnAddItem' name='btnAddItem' class='btn btn-lg btn-primary btn-block'></a>#}
        </ul>
    {%endif%}
    </div>
    {% if (page.property.count)%}
        <nav class='pagination'>
            {%for oi in 1..page.count%}
                {#<div {{(oi==page.active)? 'class=active' : ''}} id='page{{oi}}'><a id='page_{{oi}}' href="/{{page.link_run}}/?page={{oi}}{{page.output_advanced}}">{{oi}}</a></div>#}
            {%endfor%}
        </nav>
    {%endif%}

{{sub_page_message}}    
{% endautoescape %}
<script type="text/javascript" src="/js/{{page.setup_page.property.include_js}}"></script>
<script type="text/javascript" src="/js/info.common.js"></script>
{#<link rel="stylesheet" href="/css/output-system.css" type="text/css" />
<link rel="stylesheet" href="/css/forms.css" type="text/css" />
<script type="text/javascript" src="/js/jquery.uploadfile.min.js"></script>
{% if (output.property.include_js) %}
    <script type="text/javascript" src="/js/{{output.property.include_js}}"></script>
{% endif %}
{% autoescape true %}
<div class="divOutputBox">
    <table>
        {% if (output.titles)%}
            <tr>
            {% for tr in output.titles %}
                {% if(tr.size>0)%}
                    <th width='{{tr.size}}'>{{tr.title}}</th>
                {%else%}
                    <th>{{tr.title}}</th>
                {%endif%}
            {%endfor%}
            </tr>
        {%endif%}
        {% if (data)%}
            {% for ov in data %}
                <tr>
                {% for td in output.data %}
                    {%if(td=='action')%}
                        <td class="centers">{{ov[td]|raw}}</td>
                    {%else%}
                        <td class="centers">{{ov[td]|raw}}</td>
                    {%endif%}
                {%endfor%}    
                </tr>
            {%endfor%}
        {%endif%}
    </table>
</div>
{% endautoescape %}
<script type="text/javascript" src="/js/info-common.js"></script>
#}

