{%if(page.tabs)%}
    {#иницируем массив для формирования списка подконтрольных дивов#}
    {%set varContainerAjax=initArray()%}
    <div class="" role="tabpanel" id="togglable-tabs" replace-id='div-ajax-field'>
        <ul class="nav nav-tabs tabs-up" id="friends">
        {%for keyitem, item in page.tabs.data%}
            <li class="{{keyitem==0?'active':''}}"><a href="{{item.url}}" data-target="#{{item.target}}" class="" id="contacts_tab" data-toggle="tabajax" rel="tooltip">{{item.title}}</a></li>
            {#добавляем в массив значение результирующего дива#}
            {%set varContainerAjax = pushArray(varContainerAjax,item.target)%}
        {%endfor%}  
        </ul>
        {#проверяем существование сформированого массива если да идем дальше#}
        {%if(varContainerAjax)%}
            <div class="tab-content">
                {% for inKey, inItem in varContainerAjax %}
                    {%if(inKey==0)%}
                        <div class="tab-pane active" id="{{inItem}}"></div>
                    {%else%}
                        <div class="tab-pane" id="{{inItem}}"></div>
                    {%endif%}
                {%endfor%}
            </div>    
        {%endif%}
        
            {#<div class="tab-pane active" id="contacts"></div>
            <div class="tab-pane" id="friends_list"></div>
            <div class="tab-pane  urlbox span8" id="awaiting_request"></div>#}
    </div>
{%endif%}