{# empty Twig template #}
{%autoescape false%}
    {%if(data)%}
        <div class="row padding-position-01">
        {%for item in data%}
            <div>
                <h3><a href="/page_car/detail_avto/{{item.value}}">{{item.title}}</a></h3>    
                {%if(item.images_id)%}
                    <img class='' id='block-image-{{data.value}}' src='/Images_module/getImages/{{item.images_id}}/100/100/1'/>
                {%endif%}
                <div>{{item.year}}</div>
            </div>
        {%endfor%}    
        </div>
    {%endif%}
{%endautoescape%}
