{# empty Twig template #}
{%autoescape false%}
    {%if(data)%}
        {%for item in data%}
            {{item}}
        {%endfor%}
    {%endif%}
    {%if(page.property.per_to_page>0)%}
    <center>
        <ul class="pagination">
            {%for oi in 1..(page.property.count//page.property.per_to_page)%}
                <li {{(oi==page.property.current)? 'class=active' : ''}}><a href={{page.url_link}}&page={{oi}}>{{oi}}</a></li>
                {#<div {{(oi==page.active)? 'class=active' : ''}} id='page{{oi}}'><a id='page_{{oi}}' href="/{{page.link_run}}/?page={{oi}}{{page.output_advanced}}">{{oi}}</a></div>#}
            {%endfor%}
        </ul>
    </center>        
    {%endif%}
{%endautoescape%}
<div class="clearfix bottom-margin-0"></div>
