{# empty Twig template #}
{%autoescape false%}
    {%if(data)%}
        <div class="row padding-position-01">
        {%for item in data%}
            <div class='avto-model'>
                <h2>{{item.title}}</h2>
				<hr class='title' />
                {%if(item.sub_tree)%}
                    {%for sub_item in item.sub_tree%}
                    <div class='element-info'>
                        {%if(sub_item.images_id)%}
                            <a href="/page_car/detail_avto/{{sub_item.value}}">
                                <img src='/Images_module/getImages/{{sub_item.images_id}}/200/200/1'/>
                            </a>
                        {%endif%}    
                        <span class='title'>
                            <a id="detail-avto-{{sub_item.value}}" class="link-02" href="/page_car/detail_avto/{{sub_item.value}}">{{sub_item.title}}</a>
                        </span>
                        
                        <span>{{sub_item.year}}</span>
                    </div>    
                    {%endfor%}
                {%endif%}
            </div>
        {%endfor%}    
        </div>
    {%endif%}
{%endautoescape%}
