{# empty Twig template #}
{%autoescape false%}
        <div class="cl-right-content">
            <div>{{data.text}}</div>
            <a class="btn btn-info" href="/page_car/detail_top_keys/{{data.value}}" role="button">Топ ключи {{data.title}}</a>
            <img class='position-right' id='block-image-{{data.value}}' src='/Images_module/getImages/{{data.images_id}}/100/100/1'/>
        </div>

{%endautoescape%}


