{%if data%}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Индикатор карусели -->
        {#<ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        #}
        <!-- Контент карусели -->
        <div class="carousel-inner">
            {%for key,item in data%}
                <!-- если индекс равен 0 ставим активной первую картинку в карусели -->
                <div class="item {{(key==0)?'active':''}}" data-slide-number="{{key}}">
                    <!-- Заголовок -->
                    <!--<h2>{{item.title}}</h2>-->
                    <!-- Картинка -->
                    {#<img alt='' src='/picture/{{item.picture}}'>#}
                    <div style='height:300px; vertical-align: central;'>
                    <center>
                        <img alt='' src='/Images_module/getPicture/{{item.value}}/560/460/1' >
                    </center>
                    </div>
                    <!-- дополнительные части для каручели отключены пока за ненадобностью -->
                    {#<div class="carousel-caption">
                        <h3>First slide label</h3>
                        <p>Lorem ipsum dolor sit amet consectetur…</p>
                    </div>#}
                </div>
            {%endfor%}
        </div>
        <!-- навигация карусели право-лево -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <div class="clearfix"></div>
    <center>
        <div class="col-md-12 hidden-sm hidden-xs" id="slider-thumbs">
                <!-- thumb navigation carousel items -->
              <ul class="list-inline">
                  {%for key,item in data%}
                        <li> 
                            <a id="carousel-selector-{{key}}" class="{{(key==0)?'selected':''}}">
                                <img src="/Images_module/getPicture/{{item.value}}/80/60/0" class="img-responsive">
                            </a>
                        </li>
                  {%endfor%}
                </ul>
        </div>
    </center>
    <div class="clearfix"></div>                  
{%endif%}
