{# empty Twig template #}

<div class='block-01'>
    <hr/>
    <div class="search-form"> <!-- search-form start -->
        <form class="form-inline" method='get' id='frmSearch' action='/{{(getNameModule(1))?getNameModule(1):'home'}}/goSearch'>
            <div class="form-group">
                <input type="text" name='inSearch' class='form-control input-skin-01' placeholder="Поиск" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Поиск'" />
            </div>
            <div class="form-group top-margin-0">
                <input type="submit" class='btn btn-success btn-sm' value="Провести поиск" id='btnGoSearch'/>
            </div>
        </form>
    </div> <!-- search-form end -->
    <hr/>
</div>

