{# empty Twig template #}
<div class='row panel-containter-content'>
    {# вывод заголовка #}
    <h1>{{data.header_page}}</h1>
    {# вывод второго сообщения #}
    <h2>{{data.top_message_page}}</h2>
    <hr/>
    {# если есть контент выводим #}
    {%if(data.content)%}
        {{data.content|raw}}
    {%endif%}
    <h3>{{data.footer_page}}</h3>
</div>
